/*====================content========================*/
.contentLayout {
  padding: 12px 12px 0 12px;
}
/*====================sider========================*/
.sider {
  background-color: white;
  width: 200px;
  font-size: 20px;
  box-shadow: 0 0 6px #b8b8b8;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding-left: 24px;
  margin: 0;
  cursor: pointer;
  transition: color .3s;
}
.trigger:hover {
  color: #108ee9;
}
.link {
  color: #595959;
}
.scroll {
  height: 300px;
}
.showBasicInfo {
  display: block;
}
.hideBasicInfo {
  display: none;
}
/*====================sider========================*/

/*====================top========================*/
.top {
  padding-top: 18px;
  border-bottom: solid 1px #f4f4f4;
  padding-bottom: 45px;
}
.bread {
  font-size: 16px;
  -webkit-text-fill-color: #595959;
  opacity: 0.9;
}
.breadcrumb {
  float: left;
  padding-left: 24px;
  padding-top: 3px;
}
.hideSearch {
  float: right;
  margin-right: 24px;
  display: none;
  box-shadow: 0 0 2px #f4f4f4;
  width: 300px;
}
.showSearch {
  float: right;
  margin-right: 24px;
  display: block;
  box-shadow: 0 0 2px #c8c8c8;
  width: 300px;
}
/*====================top========================*/
/*====================children========================*/
.childrenLayout {
  padding-left:12px;
  box-shadow: 0 0 6px #b8b8b8;
}
.children {
  background-color: white;
  margin: 0;
}
/*====================children========================*/
/*====================content========================*/
