.news_title{
  font-weight: bold;
  color: #0000C6;
  font-size: 30px;
  margin-top: 3%;
}
.news_date{
  font-weight: normal;
  color: #000000;
  opacity: 0.5;
  font-size: 15px;
  margin-top: 1%;
}
.below_title{
  color: #979797;
  margin-top: 19.27px;
  opacity: 0.5;
}
.news_article {
  margin-top: 18.66px;
}
.news_article p{
  font-weight:normal;
  color: #000;
  font-size: 18px;
  text-indent: 24px;
  margin-bottom: 3px;
}
.original{
  margin:37px 14px 36px auto;
  width: 102px;
  float: right;
}
.original_link{
  height: 18px;
  background: url("../../assets/original_link.svg") no-repeat right;
}
