.title {
  -webkit-text-fill-color: #ffffff;
  text-align: center;
  margin-top: 8%;
  font-size: 60px;
}

.subtitle {
  -webkit-text-fill-color: #ffffff;
  text-align: center;
  margin-top: 1%;
  font-size: 30px;
}

.real_time_news {
  height: 182px;
  background: url("../../assets/real_time_news.svg") no-repeat center;
  background-size: 182px 182px;
}

.latest_market {
  height: 182px;
  background: url("../../assets/latest_market.svg") no-repeat center;
  background-size: 182px 182px;
}

.start_invest {
  height: 182px;
  background: url("../../assets/start_invest.svg") no-repeat center;
  background-size: 182px 182px;
}

.row {
  margin-top: 8%;
  margin-bottom: 176px;
}
