.news_container {
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: solid 1px #f4f4f4;
}
.news_head {
  cursor: pointer;
  color: #0000C6;
}
.news_info {
  font-size: 14px;
  color: #a3a3a3;
}
.news_brief {
  font-size: 14px;
  color: black;
}
.news_separate {
  margin-top: 8px;
  margin-bottom: 8px;
}
.hideTop {
  display: none;
}
.showTop {
  color: #ca2929;
  display: inline;
}
