.logo {
  float: left;
  font-size: 20px;
  color: white;
  height: inherit;
}
.normal {
  /*display: flex;*/
  flex-direction: column;
}
.footer {
  border-top-color: #30343a;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu {
  float: right;
  font-size: 15px;
  background-color: #2A2D32;
  margin-top: 10px;
  height: inherit;
}

.header {
  background-color: #2A2D32;
  border-bottom-color: #2A2D32;
}

