.logo {
  width: 120px;
  height: 30px;
  background: #333;
  border-radius: 6px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer {
  border-top-color: #30343a;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu {
  float: right;
  font-size: 15px;
  background-color: #2A2D32;
  height: 60px;
}

.header {
  background-color: #2A2D32;
  height: 5%;
}

